@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

table {
  background-color: #ffffff;
}

table,
th,
tr {
  border-radius: 3px 3px 0 0;
  text-align: center;
  border-width: 0px 1px 1px 0px;
  border: #e8e7e7;
}

th {
  background: #0066ff;
  color: #ffffff;
}

td,
th {
  width: 130px;
  height: 50px;
}

form {
  width: 360px;
  height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: 50px;
}

h1{
    padding-bottom: 20px;
}

.inpt-text{
    display: flex;
    gap: 100px;
}

#marca,
#modelo,
#cor,
#pos-cilindro,
#cilindro,
#litragem,
#observacao {
  width: 300px;
  height: 40px;
  border: 1px solid #e2e6ee;
  box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
  border-radius: 10px;
  text-decoration: none;
  padding-left: 15px;
}

#send {
  width: 736px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #0066ff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  
}

.motor {
  margin-bottom: 50px;
}

.form-group{
    margin-left: 450px;
}

